#menu ul.sub-menu {
	visibility: visible;
	display: none;
	background: white;
	top: 30px;
	left: 0;
	width: inherit;
	list-style: none;
}

#menu li.menu-list {
	position: relative;
	background: black;
}

#menu ul.sub-menu li.sub-menu-list {
	position: relative;
	padding-top: 1px;
	size: 100px;
}

#menu li.menu-list a{
	display: block;
	padding: 5px;
	color: #fff;
	background: #333;
	text-decoration: none;
}

#menu li.menu-list a:hover {
	color: #fff;
	background: #6b0c36;
	text-decoration: underline;
}

#menu ul a {
	white-space: nowrap;
}

#menu li:hover a {
	background: #6b0c36;
	text-decoration: underline;
}

#menu li:hover ul a {
	text-decoration: none;
}

#menu li:hover ul li a:hover,ul#menu li ul.sub-menu li a {
	background: #333;
	width: 200px;
}

ul#menu ul.sub-menu li {
	list-style-type: none;
	display: inline-block;
}

ul#menu li:HOVER ul.sub-menu {
	display: block;
}

ul#menu li:hover ul li a:hover {
	background: #6b0c36;
}