<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test_Artiflow</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>initiateReviewServlet</display-name>
    <servlet-name>initiateReviewServlet</servlet-name>
    <servlet-class>com.ssn.artiflow.functions.initiateReviewServlet</servlet-class>
    <init-param>
      <param-name>file-upload</param-name>
      <param-value>C:\Users\NEW\Desktop\SSN\Workspace\Test_Artiflow\WebContent\UploadedFiles</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>initiateReviewServlet</servlet-name>
    <url-pattern>/initiateReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ssn.artiflow.functions.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ssn.artiflow.functions.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HandleReview</display-name>
    <servlet-name>HandleReview</servlet-name>
    <servlet-class>com.ssn.artiflow.functions.HandleReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HandleReview</servlet-name>
    <url-pattern>/HandleReview</url-pattern>
  </servlet-mapping>
</web-app>